* {
  font-family: EB Garamond;
  font-weight: bold;
}
.container {
  position: relative;
}

.img-content {
  position: absolute;
  top: 25%;
  width: 100%;
  /* margin-left: 50%; */
  text-align: center;
  font-size: 18px;
}
